{% extends 'base.html' %}

{% block content %}

<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to Tweetme ^o^</h1>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='tweet-create-form' method='POST' action='/tweet/create'>
            {% csrf_token %}
            <input type='hidden' value='/home' name='next' />
            <textarea class='form-control' name='content'></textarea>
            <button type='submit' class='btn btn-primary'>Tweet</button>
    </div>
</div>

<div class='row' id='tweets'>
    Loading...
</div>

<script>

const tweetCreateFormEl = document.getElementById("tweet-create-form")
const tweetsEl = document.getElementById("tweets")

tweetCreateFormEl.addEventListener("submit", handleTweetCreateForm)

function handleTweetCreateForm(event) {
    event.preventDefault();
    const createForm = event.target
    const formData = new FormData(createForm)
    const url = createForm.getAttribute("action")
    const method = createForm.getAttribute("method")

    const xhr = new XMLHttpRequest()
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function() {
        const serverResponse = xhr.response
        const tweetsEl = document.getElementById("tweets")
        loadTweets(tweetsEl)
    }
    xhr.send(formData)
}

function loadTweets(tweetsElement) {
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        var tweets = xhr.response.reponse
        var finalTweetsElement = ""
        for (var i=0; i<tweets.length; i++) {
            var tweet = tweets[i]
            var tweetElement = formatTweetElement(tweet)
            finalTweetsElement += tweetElement
        }
        tweetsElement.innerHTML = finalTweetsElement

    }
    xhr.send()
}


function handleLikeBtn(tweet_id, likes) {
    likes++
}

function likeBtn(tweet) {
    return "<button class='btn btn-primary btn-sm' onclick=handleLikeBtn(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
}

function formatTweetElement(tweet) {
    return "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id + "''><p>" + tweet.content + 
        "</p><div class=btn-group>" + likeBtn(tweet) +
        "</div></div>"
}

loadTweets(tweetsEl)

</script>

{% endblock content %}
